/* Header logo size adjustment */
.md-header__button.md-logo {
  margin: 0;
  padding: 0;
  margin-left: 0.5rem;
  margin-right: -0.2rem;
}

.md-header__button.md-logo img {
  height: 2rem;
  width: auto;
  filter: invert(1);
}
